// variables.scss
// Any/all site-wide variables (so that dependency order can be controlled in styles.scss)

$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1024px !default;
$screen-xl: 1440px !default;

$base-transition-duration: 195ms;
